<div class="hero">
  <br />
  <br />
  <br />
    <div class="frosty col-8 offset-2 text-center">
      <br />
      <br />
      <h1>Learn Music From The Pros</h1>
      <br />
      <h2>without leaving your home</h2>
      <br />
      <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
      <br />
      <br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
  <br />
    <h3>Amazing Teachers</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
  <br />
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
  <br />
    <h3>Join Our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>