<br />

<div class="booyah-box col-8 offset-2">
  <div class="booyah-box-title">
    <h1>Learn Something Today</h1>
    <hr />
  </div>
  <% @courses.each do |course| %>
    <div class="row">
    <div class="col-sm-3 col-4 image-column">
      <%= image_tag course.image, class: 'img-fluid' %>
    </div>
      <div class="col-sm-6 col-8">
        <h2 class="course-title"><%= link_to course.title, course_path(course) %></h2>
        <br />
        <p class="course-description"><%= course.description %></p>
      </div>
      <div class="col-sm-3 col-12">
      <br />
        <%= link_to 'More Details', course_path(course), class: 'btn btn-primary' %>
      </div>
    </div>
    <br />
    <hr />
    <br class="clr" />
  <% end %>
</div>
