@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,400');
@import "bootstrap";
@import "font-awesome";


/*font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;*/

.navbar {
  font-family: 'Lato', sans-serif;
  background-color: #F8EEDD;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.navbar a.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #494949;
  font-style: normal;
  margin-right: 5px;
}

.fa-music {
  color: #494949;
 /* display: inline-block;
  text-align: center; */
}
.navbar a.nav-link {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #494949;
}
.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
/*  -webkit-filter: blur(1px);     
  filter: blur(1px); */
}

/*.content {
  overflow: auto;
  position: relative;
}
*/
h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-variant: small-caps;
  color: #494949;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #494949;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-variant: small-caps;
  color: #494949;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #494949;
}


.frosty {
  background: rgba(0, 0, 0, 0.5);
}

.frosty h1 {
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  font-variant: small-caps;
  color: white;
}

.frosty h2 {
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  color: white;
}

.btn {
  border-radius: 0;
  border: none;
}

.btn-success {
  background-color: #FFA983;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 15px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #00b3db;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 20px;
}

.booyah-box-title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #494949;
  font-size: 35px;
}


.control-label {
 /* color: #9E9E9E;*/
  color: #494949;
  font-family: 'Raleway', sans-serif;
}

.btn-primary {
  background-color: #FFA983;
  font-family: 'Raleway', sans-serif;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
 /* text-transform: capitalize;*/
}

.form-control {
  font-family: 'Raleway', sans-serif;
  /*color: #494949;*/
  color: #9E9E9E;
  font-size: 15px;
}

.course-list {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #494949;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-size: 30px;

}
.course-title a {
  font-size: 25px;
  color: #494949;
  font-weight: 400;
  font-variant: small-caps;
}

/*.course-title a:visited {
  color: #9E9E9E;
}*/

.course-title a:hover, .course-title a:active {
  color: #00b3db;
  text-decoration: none;
}

.course-description {
  color: #9E9E9E;
  margin: 0;
}

.clr {
  clear: both;
}