@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,400');
@import "bootstrap";
@import "font-awesome";


/*font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
colors: green #FFF83D;*/

.navbar {
  font-family: 'Lato', sans-serif;
  background-color: #F8EEDD;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.navbar a.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #494949;
  font-style: normal;
  margin-right: 5px;
  padding-left: 40px;
  position: relative;
}

.navbar a.navbar-brand:after {
  content: '\f001';
  font-family: fontAwesome;
  position: absolute;
  left: 15px; 
  top: 3px; 
  color: #494949;
  font-size: 21px;
}


.navbar a.nav-link {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #494949;
}
.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
/*  -webkit-filter: blur(1px);     
  filter: blur(1px); */
}

/*.content {
  overflow: auto;
  position: relative;
}
*/
h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-variant: small-caps;
  color: #494949;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #494949;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #494949;
  text-transform: capitalize;
}

h4 {
  font-family: 'Raleway', sans-serif;
  color: #9E9E9E;
  font-weight: 300;
  font-size: 18px;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #494949;
}

.hr {
  color: #DADADA;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
}

.frosty h1 {
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  font-variant: small-caps;
  color: white;
}

.frosty h2 {
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  color: white;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

/*button styles */

.btn {
  font-family: 'Raleway', sans-serif;
  border-radius: 0px;
  border: 1px;
  transition: all .5s;
/*  box-shadow: 1px 1px 2px 0 #d0d0d0;*/
}

.btn-success {
  background-color: #FFA983;
  margin-bottom: 15px;
  border-color: #FFA983;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #FFC1A6;
  border-color: #FFC1A6;
}

.btn-primary {
  background-color: #FFA983;
  border-color: #FFA983;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #FFC1A6;
  border-color: #FFC1A6;
}

.btn-info {
  background-color: #fff;
  border-style: solid;
  border-color: #494949;
  color: #494949;
  font-size: 18px;
}

.btn-info:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #949494;
  background-color: #fff;
  border-color: #949494;
}



/*booyah-box style*/

.booyah-box {
  -moz-box-shadow: 1px 1px 1px 0 #d0d0d0;
/*  -webkit-box-shadow: 1px 1px 1px 0 #d0d0d0;*/
/*  box-shadow: 1px 1px 2px 0 #d0d0d0;*/
  background: #fff;
  border: 1px solid #ccc;
  border-color: #DADADA;
  margin-top: 20px;
}

.booyah-box-title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #494949;
  font-size: 35px;
}


.control-label {
 /* color: #9E9E9E;*/
  color: #494949;
  font-family: 'Raleway', sans-serif;
}


.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
 /* text-transform: capitalize;*/
}

.form-control {
  font-family: 'Raleway', sans-serif;
  /*color: #494949;*/
  color: #9E9E9E;
  font-size: 15px;
}

.course-list {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #494949;
  letter-spacing: 2px;
  font-size: 30px;
}

.course-title a {
  font-size: 25px;
  color: #494949;
  font-weight: 400;
  font-variant: small-caps;
}

/*.course-title a:visited {
  color: #9E9E9E;
}*/

.course-title a:hover, .course-title a:active {
  color: #00b3db;
  text-decoration: none;
}

.course-description {
  color: #9E9E9E;
  margin: 0;
}

.clr {
  clear: both;
}

/*course detail page*/

.section {
  border: 1px solid;
  border-color: #DADADA;
  padding: 20px;
}

.lesson {
  background-color: #F5F5F5;
  margin-top: 10px;
  height: 130px;
}

.lesson a b {
  font-weight: 300;
  font-size: 20px;
}

.lesson a {
  color: #494949;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

/*.lesson a:hover {
  color: #FFF83D;
  text-decoration: none;
}
*/

/*instructor course show*/


ul {
  list-style-type: none;
}

ul .header h3 {
  font-size: 25px;
  position: relative;
  padding-left: 45px;
}

ul .header h3:after {
  content: '\f142';
  font-family: fontAwesome;
  position: absolute;
  left: 15px; 
  top: 3px; 
  color: #494949;
  font-size: 21px;
}

.section-li {
  border: 1px solid #ccc;
  border-color: #DADADA;
  padding: 20px;
  font-weight: 100;
  color: #494949;
  margin: 20px;
}

.lessons li {
  background-color: #F5F5F5;
  color: #494949;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  padding: 8px;
}

.lessons li b {
  font-size: 20px;
  font-weight: 300;
}

.lessons li p {
  margin: 0;
}

.col-11.text-center {
  padding-top: 15px;
}
